In [1]:
from scipy import integrate
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [2]:
insurance_dataset = pd.read_csv('patient_data.csv')

In [3]:
insurance_dataset.head()

,Id,AGE,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,...,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME,BMI,CHILDREN,SMOKER,INSURANCE COST
0,884fbf2d-c706-06d6-10f2-1c5e56ab9407,30,08-10-92,NaN,999-76-4953,S99926012,X13581658X,Mr.,Lincoln623,Marvin195,...,0,41.622318,-70.456573,24744.16,39042.52,55236,27.900,0,yes,16884.92400
1,03d213fb-4a18-6dca-7044-51e1a812ab6b,27,27-12-94,NaN,999-43-3745,S99975043,X33721896X,Mr.,Stewart672,Kemmer137,...,0,42.420653,-71.553006,29120.17,70844.76,485327,33.770,1,no,1725.55230
2,76b7a07e-b7b0-b348-c001-cb0b24cde476,10,25-11-11,NaN,999-60-6819,NaN,NaN,NaN,Graciela518,Pantoja215,...,1840,42.715281,-71.111399,1450.00,16760.02,8463,33.000,3,no,4449.46200
3,41ef4da4-b927-a686-efa6-9f8bd8ffb09a,11,27-01-11,NaN,999-88-6315,NaN,NaN,NaN,Eleanora667,Hauck852,...,2748,41.677621,-70.901664,9200.07,7343.09,22882,22.705,0,no,21984.47061
4,9641e386-4868-62bb-809c-f7112e2d32b9,53,31-01-69,NaN,999-63-2897,S99967493,X59463414X,Mrs.,Jennette837,VonRueden376,...,1844,42.786539,-71.146694,67634.14,876113.50,479840,28.880,0,no,3866.85520

In [4]:
# number of rows and columns
insurance_dataset.shape

(1338, 32)

In [5]:
from sklearn import preprocessing
  
label_encoder = preprocessing.LabelEncoder()

In [6]:
insurance_dataset.replace({'GENDER':{'M':0,'F':1}}, inplace=True)
insurance_dataset.replace({'SMOKER':{'yes':0,'no':1}}, inplace=True)
insurance_dataset['CITY'] = label_encoder.fit_transform(insurance_dataset['CITY'])

In [7]:
insurance_dataset.columns

Index(['Id', 'AGE', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT',
       'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE',
       'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE',
       'COUNTY', 'FIPS', 'ZIP', 'LAT', 'LON', 'HEALTHCARE_EXPENSES',
       'HEALTHCARE_COVERAGE', 'INCOME', 'BMI', 'CHILDREN', 'SMOKER',
       'INSURANCE COST'],
      dtype='object')

In [8]:
X = insurance_dataset.drop(columns=['Id', 'CITY', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY','BIRTHPLACE', 'ADDRESS', 'STATE', 'COUNTY', 'FIPS',
       'ZIP', 'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE',
       'INCOME', 'INSURANCE COST'], axis=1)
Y = insurance_dataset['INSURANCE COST']

In [9]:
print(X)

      AGE  GENDER     BMI  CHILDREN  SMOKER
0      30       0  27.900         0       0
1      27       0  33.770         1       1
2      10       1  33.000         3       1
3      11       1  22.705         0       1
4      53       1  28.880         0       1
...   ...     ...     ...       ...     ...
1333   41       1  30.970         3       1
1334   40       1  31.920         0       1
1335   40       0  36.850         0       1
1336   69       0  25.800         0       1
1337   54       0  29.070         0       0

[1338 rows x 5 columns]

In [10]:
print(Y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: INSURANCE COST, Length: 1338, dtype: float64

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(1338, 5) (1070, 5) (268, 5)

In [13]:
regressor = LinearRegression()

In [14]:
regressor.fit(X_train, Y_train)

LinearRegression()

In [15]:
training_data_prediction =regressor.predict(X_train)

In [16]:
test_data_prediction =regressor.predict(X_test)

In [18]:
input_data = (27,0,33.770,1,1)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = regressor.predict(input_data_reshaped)
print(prediction)

print('The insurance cost is ', prediction[0], 'INR')

[9963.6614534]
The insurance cost is  9963.661453400904 INR

C:\Users\Gaurisha R Srivastav\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
import joblib
pkl_file = open("MICP.pkl","wb")
joblib.dump(regressor,pkl_file)
pkl_file.close()